<head>
    <link rel="stylesheet" type="text/css" href="/navbar.css">
</head>
<div class="navbar">
    <div class="profile">
        {{#if username}}
            <p>Bonjour, {{username}}</p>
        {{/if}}
    </div>
    {{#if username}}
        <div class="logout">
            <a href="/logout">Se déconnecter</a>
        </div>
        <div class="add-user">
            <a href="/add-user-to-group">Ajouter un utilisateur à un groupe</a>
        </div>
        <div class="create-group">
            <a href="/create-group">Créer un groupe</a>
        </div>
        <div class="add-rappel">
            <a href="/add-rappel">Ajouter un rappel</a>
        </div>
    {{/if}}
</div>