<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    {{{body}}}
    <div>
        <h1>Bienvenue ici!</h1>
        <p>Ici c'est cool.</p>
        
        {{#if isHome}}
        <h1>Welcome Home!</h1>
        {{else}}
        <h1>Goodbye!</h1>
        {{/if}}

        <h1>Users</h1>
        <ul>
            {{#each users}}
                <li>{{name}} ({{age}})</li>
            {{/each}}
        </ul>

    </div>
    
    

</body>
</html>