<!-- login.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <form action="/user/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" autocomplete="username">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" autocomplete="current-password">

    <input type="submit" value="Login">
    </form>
</body>
</html>